[submodule "vendor/spldlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "vendor/sdl2"]
	path = vendor/sdl2
	url = git@github.com:rizTaak/SDL.git
	branch = rel-2.0.16
